body{
    background-image:url("https://i.pinimg.com/736x/55/52/4c/55524ce3a1496ef1c7a5daa488f3d242.jpg");
    margin-top:100px;
}
.hi{
    color:rgb(255, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}
.navbar-brand{
    font-size: 40px;
    font-style: oblique;
    z-index:2;
}
.display-4{
    color: red;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lead{
    color: black;
}
.carousel-inner img {
  height: 900px; /* Adjust this number to whatever height looks best on your laptop */
  object-fit: cover;
  border: 2px solid black;
}
.op, .op1{
    color: black;
    font-weight:bolder;
}
.vis{
    background-color: rgba(255,255,255, 0.5);
    display:inline-block;
}
.op1{
    float: right;
}
.add{
    padding-top: 30px;
    text-align: center;
    font-weight: bolder;
    color: rgb(31, 100, 12);
    font-family: 'Times New Roman', Times, serif;
}
.add2{
    text-align: center;
    font-weight: lighter;
}
.sale{
    text-decoration: line-through;
}
.color{
   background-color: rgb(12, 94, 172);
}